reports
dist
target
bin
bin.timestamp
deploy/*.jar
logs
.project
.settings
.classpath
.scala_dependencies
.metadata
*.class
.manager
target/
lib_managed/
src_managed/
project/boot/
tags
.ensime.msg.counter
ensime_port
.idea
.idea_modules/
.history
.cache
.DS_Store
.vagrant
*.sc
*.swp
projectFilesBackup*/
dockercfg
Vagrant


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
